<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <style>
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        margin-bottom: 0.5rem;
        font-family: ‘Impact’, fantasy;
        font-weight: 500;
        line-height: 1.2;
        color: black;
    }
    </style>
</head>
<body>
<div class="site-container">
    <div class="row" style="margin-top: 30px; margin-left: 100px">
        <center><div class="col">
            <form method="get" action="/home">
                <h3 class="text-center">Data visualizer</h3>
                <div class="form-group row">
                    <div class="col">
                        <label for="username">username:</label>
                        <input class="form-control" type="text" name="username">
                    </div>
                    <div class="col">
                        <label for="first_name">first_name:</label>
                        <input class="form-control" type="text" name="first_name">
                    </div>
                    <div class="col">
                        <label for="last_name">first_name:</label>
                        <input class="form-control" type="text" name="last_name">
                    </div>
                    <div class="col">
                        <label for="gender">Gender:</label>
                        <select id="gender" name="gender" class="form-control">
                            <option value="" selected></option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="limit">Limit:</label>
                        <input class="form-control" type="text" name="limit">
                    </div>
                    <div class="col">
                        <label for="order">Order:</label>
                        <input class="form-control" type="text" name="order">
                    </div>
                    <div class="form-check">
                        <div class="row">
                            <label for="val1" class="form-check-label">
                                <input type="radio" id="val1" class="form-check-inline" name="protection" value="no_protection" checked>No protection
                            </label>
                        </div>
                        <div class="row">
                            <label for="val2" class="form-check-label">
                                <input type="radio" id="val2" class="form-check-inline" name="protection" value="prepared_all">Prepared statements
                            </label>
                        </div>
                        <div class="row">
                            <label for="val3" class="form-check-label">
                                <input type="radio" id="val3" class="form-check-inline" name="protection" value="prepared_some">Prepared statements & whitelisting
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </div>
            </form>
        </div></center>
    </div>
    <div class="row" style="margin-top: 50px; margin-left: 300px">
        <div class="col table-responsive" style="overflow-y:scroll; max-height: 600px;">
            <table class="table table-striped table-bordered table-hover " >
                <thead style="position:sticky; top: 0px; background: white;">
                <tr>
                    <th scope="col">number</th>
                    <th scope="col">username</th>
                    <th scope="col">first_name</th>
                    <th scope="col">last_name</th>
                    <th scope="col">gender</th>
                </tr>
                </thead>
                <tbody>
                    {% for x in data %}
                        <tr>
                        {% for y in x %}
                            <td>
                            {{y}}
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>
</div>
</body>
</html>